<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>About Us</h2>
                    <ol>
                        <li><a routerLink="/"><i class="fa-solid fa-caret-right"></i> Home</a></li>
                        <li>About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="about-page">
    <section class="about-section mt-5 mb-5">
        <div class="container">
            <!-- Add your video here with autoplay and no controls -->
            <video controls="true" controls width="100%" height="500">
                <source src="./../../../assets/videos/about-us.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>
</div>

<div class="about-page">
    <section class="about-section separator-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img-wrap">
                        <div class="about-img-top"><img alt="" src="../../../assets/images/about1.jpg" width="525"
                                height="413" decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">
                        </div>
                        <div class="about-img-bottom"><img alt="" src="../../../assets/images/about2.png" width="330"
                                height="313" decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text d-flex flex-column justify-content-center h-100">
                        <div class="about-icon">
                            <h2> <img alt="" src="../../../assets/images/facicon.png" width="50" height="50"
                                    decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">
                                    Our Story </h2>
                        </div>
                        <p>Smile Agents is a trusted Saudi company that has been at the forefront of pediatric dentistry since 2013. We offer a comprehensive range of high-quality dental products designed to optimize oral health and aesthetics for young patients. Our commitment to excellence extends beyond product supply, as we provide extensive training programs to dental professionals, ensuring they have the knowledge and skills to deliver exceptional care. By partnering with healthcare providers, we strive to create a world where every child can enjoy a lifetime of beautiful, healthy smiles.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="about-history-section   pb-0">
        <div class="container">
            <div class="history-top">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="heading-title undefined text-center ">
                            <h2 class="d-block"> <img alt="" src="../../../assets/images/facicon.png" width="50" height="50"
                                    decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">Our Commitment to Excellence</h2>
                        </div>
                        <p>At Smile Agents, we are dedicated to upholding the highest standards of excellence in everything we do. Our core values guide our work, ensuring that we deliver exceptional products and services to the healthcare community.</p>
                       <span class="fw-bolder">  Core Values  </span> 

                       <div class="row mt-3">
                        <!-- Integrity and Trust -->
                        <div class="col-lg-4 col-md-6">
                            <div class="service-box text-center">
                              
                                <h3>Integrity and Trust</h3>
                                <p>Our commitment to integrity and trust is paramount, especially in our interactions with customers. Our professional approach enables us to build enduring relationships and consistently deliver exceptional service.</p>
                            </div>
                        </div>
                    
                        <!-- Innovation and Quality -->
                        <div class="col-lg-4 col-md-6">
                            <div class="service-box text-center">
                                
                                <h3>Innovation and Quality</h3>
                                <p>We are committed to leading the healthcare industry by sourcing the latest, most innovative, highest-quality dental products from world-renowned suppliers to ensure our customers receive and work with the best.</p>
                            </div>
                        </div>
                    
                        <!-- Service and Satisfaction -->
                        <div class="col-lg-4 col-md-6">
                            <div class="service-box text-center">
                               
                                <h3>Service and Satisfaction</h3>
                                <p>At Smile Agents, customer satisfaction is the heart of everything we do. We are committed to exceeding expectations by listening closely to our customers' needs, offering tailored solutions, and delivering seamless, exceptional service at every touchpoint.</p>
                            </div>
                        </div>
                    </div>

                    
                    </div>
                </div>
            </div>
            <div class="history-wrap">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="history-img h-100"><img alt="" src="../../../assets/images/about3.jpg" decoding="async"
                                data-nimg="1" loading="lazy" class="h-100 w-100 object-fit-cover rounded">
                        </div>
                    </div>
                    <div class="col-lg-7 offset-lg-1">
                        <div class="history-items">
                            <div class="history-item">
                                <h3> <img alt="" src="../../../assets/images/facicon.png" width="50" height="50"
                                        decoding="async" data-nimg="1" loading="lazy"
                                        style="color: transparent;">Mission</h3>
                                <p>At Smile Agents, our mission is to empower dental professionals with premium-quality products and exceptional service, to keep a healthy smile for their young patients. As the #1 supplier of dental supplies, we are dedicated to enhancing patient care by providing innovative solutions. Guided by both our core values and customer needs, we aim to support the success of dental practices and the smiles of patients around the world.</p>
                            </div>
                            <div class="history-item">
                                <h3><img alt="" src="../../../assets/images/facicon.png" width="50" height="50"
                                        decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">
                                    Vision</h3>
                                <p>At Smile Agents, our vision is to revolutionize the dental supply industry by consistently delivering exceptional products and services that empower dental professionals to provide outstanding patient care. We strive to be the benchmark of excellence, innovation, and reliability, driving healthier, long-lasting partnerships and happier smiles.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq.component.html -->
    <section class="faq-section mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="faq-title text-center pb-3">
                        <h2>Why Choose Smile Agents? </h2>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="faq" id="accordion">
                        <div *ngFor="let faq of faqs; let i = index" class="card">
                            <div class="card-header" [id]="'faqHeading-' + i">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse"
                                        [attr.data-target]="'#faqCollapse-' + i" [attr.aria-expanded]="false"
                                        [attr.data-aria-controls]="'faqCollapse-' + i" (click)="toggleCollapse(i)">
                                        <span class="badge">{{ i + 1 }}</span>{{ faq.question }}
                                    </h5>
                                </div>
                            </div>
                            <div [id]="'faqCollapse-' + i" class="collapse">
                                <div class="card-body">
                                    <p>{{ faq.answer }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>