<footer class="footer-section undefined">

    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="widget about-widget">
                        <div class="widget-logo">
                            <a href="/">
                                <img alt="" src="../../../assets/images/main_logo.png" width="191" height="43"
                                    decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">
                            </a>
                        </div>
                        <p class="text-dark">Smile Agent has been proudly providing high-quality dental accessories in
                            Saudi Arabia since 2013. Our commitment to excellence ensures that dental professionals have
                            access to the best tools and products for their practice. From advanced equipment to
                            everyday essentials, we are your trusted partner for all dental needs.
                        </p>

                    </div>
                </div>
                <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="widget link-widget">
                        <div class="widget-title">
                            <h3 class="text-dark">Get to Know Us</h3>
                        </div>
                        <ul>
                            <li class="text-dark"><a href="/Delivery_policy">Delivery</a></li>
                            <li class="text-dark"><a href="/About_Us">About Smile Agents</a></li>
                            <li class="text-dark"><a href="/Payment_policy">Secure Payment</a></li>
                            <li class="text-dark"><a href="/Contact">Contact Us</a></li>


                        </ul>
                    </div>
                </div>
                <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="widget link-widget custom">
                        <div class="widget-title">
                            <h3 class="text-dark">Shop with Us</h3>
                        </div>
                        <ul>
                            <li class="text-dark"><a routerLink="/Login">Sign in / Login to Accounts</a></li>
                            <li class="text-dark"><a routerLink="/Login">Your Orders</a></li>
                            <li class="text-dark"><a>Quality Policy</a></li>
                            <li class="text-dark"><a>Privacy Policy</a></li>



                            <li class="text-dark"><a href="/">Refund Policy</a></li>


                        </ul>
                    </div>
                </div>
                <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="widget subscribe">
                        <div class="widget-title">
                            <h3 class="text-dark">Our Newsletter</h3>
                        </div>
                        <p class="text-dark">Be the first to know about our latest offers, events, and more. Sign up for
                            our newsletter today!</p>
                        <form>
                            <div class="form-field"><input type="email" placeholder="Enter your mail" id="semail"
                                    required=""><button type="submit" class="btn-style-1">Submit
                                    Now</button></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="lower-footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-lg-4 col-12">
                    <div class="copy-left">
                        <p class="copyright text-dark">Copyrighted © 2024 All Rights Reserved   <a class="text-dark ml-1">Smile
                                Agents</a>
                        </p>
                    </div>
                </div>
                <div class="col col-lg-8 col-12">
                    <!-- social-media.component.html -->
                    <div class="social-media-icons">
                        <!-- Facebook -->
                        <a href="https://m.facebook.com/smileagents/" target="_blank" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <!-- Twitter -->
                        <a href="https://www.twitter.com/smileagents/" target="_blank" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <!-- Instagram -->
                        <a href="https://www.instagram.com/smileagents/" target="_blank" class="social-icon">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <!-- LinkedIn -->
                        <a href="https://www.linkedin.com/company/smile-agents/" target="_blank" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>