<!-- <div class="preloader" *ngIf="loading">
	<svg class="cart" role="img" aria-label="Shopping cart line animation" viewBox="0 0 128 128" width="128px" height="128px" xmlns="http://www.w3.org/2000/svg">
		<g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
			<g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
				<polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" />
				<circle cx="43" cy="111" r="13" />
				<circle cx="102" cy="111" r="13" />
			</g>
			<g class="cart__lines" stroke="currentColor">
				<polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" stroke-dasharray="338 338" stroke-dashoffset="-338" />
				<g class="cart__wheel1" transform="rotate(-90,43,111)">
					<circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68" stroke-dashoffset="81.68" />
				</g>
				<g class="cart__wheel2" transform="rotate(90,102,111)">
					<circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68" stroke-dashoffset="81.68" />
				</g>
			</g>
		</g>
	</svg>

</div> -->
<div class="loader" *ngIf="loading">
    <div class="loading_box">
        <img src="../../../assets/images/Smile-Agents-Intro-ezgif.com-crop.gif" style="    height: 100px;
    width: 100%;" alt="">
    </div>
</div>
<section class="static-hero">
    <div class="container-fluid">
        <div class="static-hero-wrap">
            <div class="row">
                <div class="col-lg-9">
                    <div class="static-hero-left">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="hero-content">
                                    <div class="css-z1mjt4" style="animation-delay: 0ms;"><span class="">100%
                                            Premium Quality</span></div>
                                    <div class="css-z1mjt4" style="animation-delay: 0ms;">
                                        <h2 class="">NuSmile ZR 2ND Primary Molar Crowns Kits
                                        </h2>
                                    </div>
                                    <div class="css-z1mjt4" style="animation-delay: 0ms;">
                                        <p class="">Transform dental care with quality.</p>
                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="css-17ud6we" style="animation-delay: 0ms;">
                                    <div class="hero-img"><img alt="" src="../../../assets/images/header_image.png"
                                            width="515" height="423" decoding="async" data-nimg="1" loading="lazy"
                                            style="color: transparent;">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blur-shape"><svg xmlns="http://www.w3.org/2000/svg" width="586" height="586"
                                viewBox="0 0 586 586" fill="none">
                                <g filter="url(#filter0_f_98_52)">
                                    <circle cx="293" cy="293" r="75" fill="#f7b916"></circle>
                                </g>
                                <defs>
                                    <filter id="filter0_f_98_52" x="0.600006" y="0.600006" width="584.8" height="584.8"
                                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                            result="shape"></feBlend>
                                        <feGaussianBlur stdDeviation="108.7" result="effect1_foregroundBlur_98_52">
                                        </feGaussianBlur>
                                    </filter>
                                </defs>
                            </svg></div>
                        <div class="p-shape"><img alt="" src="../../../assets/images/heaer_banner_bg.png" width="728"
                                height="486" decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col">
                    <div class="static-hero-right">
                        <div class="static-hero-right-text"><span>Denovo Professional Space Maintainer Band Kit</span>
                            <h3>Denovo Professional Space Maintainer Band Kit</h3>
                        </div>
                        <div class="hero-img">
                            <div class="css-2qfv45" style="animation-delay: 0ms;"><img alt=""
                                    src="../../../assets/images/header_image2.png" width="445" height="439"
                                    decoding="async" data-nimg="1" class="" loading="lazy" style="color: transparent;">
                            </div>
                        </div>
                        <div class="rate-wrap">
                            <!-- <ul class="">
                              <li class=" css-sanqhm" style="animation-delay: 0ms;">SAR  50.00 -</li>
                              <li class=" css-sanqhm" style="animation-delay: 0ms;"> SAR  62.00</li>
                          </ul> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="animate-marque-sec">
    <div class="animate-marque">
        <div class="marquee">
            <div class="track">
                <div class="content">
                    <h1>
                        <span>#1 Supplier of Pediatric Dental Supplier</span>
                        <span>#1 Supplier of Pediatric Dental Supplier</span>
                        <span>#1 Supplier of Pediatric Dental Supplier</span>

                    </h1>

                </div>
            </div>
        </div>
    </div>
</div>


























<section class="featured-section separator-padding">
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-lg-10 h-60">
                <div class="heading-title undefined">
                    <h2>Featured Categories</h2>
                </div>
            </div>
            <div class="col-lg-2 d-flex justify-content-end">
                <!-- Left Arrow (Previous Slide) -->


                <!-- Right Arrow (Next Slide) -->

            </div>
        </div>

        <!-- Featured Category Slider -->
        <div class="row">
            <div class="col-1 f-slide-btn">
                <button type="button" (click)="prevSlide()" class="slider-arrow slider-prev">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
            </div>
            <div class="col-10">
                <div class="featured-category-slider">
                    <div class="slider-container">
                        <!-- Slider Track with Transform -->
                        <div class="slider-list"
                            [style.transform]="'translateX(' + (-currentIndex * (100 / slidesPerPage)) + '%)'">
                            <div *ngFor="let item of cate_gory_data" (click)="onCategoryClick(item)"
                                class="slider-slide">
                                <div class="featured-item">
                                    <div class="icon">
                                        <img src="{{item.image}}" alt="{{item.name}}">
                                    </div>
                                    <div class="text">
                                        <h2>
                                            <a (click)="onCategoryClick(item)">{{ item.name }}</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-1 f-slide-btn">
                <button type="button" (click)="nextSlide()" class="slider-arrow slider-next">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        </div>

    </div>
</section>



<section>
    <div class="our-service">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h2>About Us</h2>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">

                        </h2>
                        <p class="wow fadeInUp" data-wow-delay="0.25s">A Saudi company founded in 2013. We specialize in
                            providing high-quality pediatric dental products across Saudi Arabia
                            We are committed to building healthy smiles, and we believe in the power of a child’s smile.
                            Our mission includes community service, offering eco-friendly products, exceptional customer
                            service, and competitive pricing. We conduct workshops to empower professionals and ensure
                            optimal results for every child.</p>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Services Item Start -->
                    <div class="service-item wow fadeInUp">
                        <div class="icon-box">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </div>
                        <div class="service-content">
                            <h3>Pediatric Excellence</h3>
                            <p>Leaders in pediatric dental care, specializing in top-quality products and professional
                                training for healthier, brighter smiles for kids.</p>
                        </div>
                        <hr>
                        <div class="service-btn">
                            <a routerLink="/About_Us" class="redmore-btn">learn more</a>
                        </div>
                    </div>
                    <!-- Services Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Services Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <i class="fa-regular fa-lightbulb"></i>
                        </div>

                        <div class="service-content">
                            <h3>Innovative Solutions</h3>
                            <p>Dedicated to offering environmentally friendly, high-quality dental products, ensuring
                                optimal results and satisfaction for our valued clientele.</p>
                        </div>
                        <hr>
                        <div class="service-btn">
                            <a routerLink="/About_Us" class="redmore-btn">learn more</a>
                        </div>
                    </div>
                    <!-- Services Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Services Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <i class="fa-regular fa-handshake"></i>
                        </div>
                        <div class="service-content">
                            <h3>Community Commitment</h3>
                            <p>Beyond products, we prioritize community service, customer care, and competitive pricing,
                                making a positive impact one smile at a time</p>
                        </div>
                        <hr>
                        <div class="service-btn">
                            <a routerLink="/About_Us" class="redmore-btn">learn more</a>
                        </div>
                    </div>
                    <!-- Services Item End -->
                </div>


            </div>
        </div>
    </div>
</section>


<div class="blog-grid-page">

    <section class="blog-section separator-padding">
        <div class="container">
            <div class=" mt-5 mb-3  text-center align-center  heading-title undefined"
                style="text-align: center;margin: auto;display: table;">
                <h2 class="transform-capital heading-color">Upcoming Workshop</h2>
            </div>
            <div class="blog-items">
                <div class="row">
                    <div class="col col-xl-4 col-lg-6 col-md-6 col-12" *ngFor="let item of event">
                        <div class="blog-item">
                            <div class="blog-img" style="position: relative;" (click)="oneventClick(item)">
                                <img alt="" src="{{ item.event_image[0].image }}" height="190" decoding="async"
                                    data-nimg="1" loading="lazy" style="color: transparent;">
                                <!-- Upcoming badge conditionally shown if the item date is in the future -->
                                <span *ngIf="isUpcoming(item.date)" class="badge upcoming-badge">Upcoming</span>
                            </div>
                            <div class="blog-content">
                                <ul class="w-100 justify-content-between">
                                    <li><i class="fa-solid fa-calendar"></i> {{ item.date }}</li>
                                    <li><i class="fa-solid fa-user"></i> {{ 'Admin' }}</li>
                                </ul>
                                <h2><a>{{ item.name }}</a></h2>
                                <!-- <a class="more" (click)="read_event(item)">Read More</a> -->
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</div>







<section class="latest-product-section separator-padding pt-0 mt-4">
    <div class="container sortable-gallery">
        <div class="latest-product-title">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="heading-title undefined">
                        <h2><i><img alt="" style="width: 55px;" src="../../../assets/images/facicon.png"
                                    decoding="async" data-nimg="1" loading="lazy" style="color: transparent;"></i>Our
                            Latest Products</h2>
                    </div>
                </div>
                <!-- <div class="col-lg-8">

                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2">
                <div class="latest-product-left-sidebar mb-5 height">
                    <div class="left-sidebar-text" style="cursor: pointer;"
                        (click)="get_product_detail(popularProducts[currentProductIndex])">
                        <div class="small-heading-title" style="height: 175px;">
                            <span>Trending Product</span>
                            <h3>{{ popularProducts[currentProductIndex]?.name }}</h3>

                        </div>
                    </div>

                    <div class="left-sidebar-img" *ngIf="popularProducts.length">
                        <img [src]="popularProducts[currentProductIndex]?.product_image[0].image" alt="Product Image"
                            width="277" height="438" [class]="getAnimationClass(currentProductIndex)" decoding="async"
                            loading="lazy" style="color: transparent;">
                    </div>

                    <!-- Navigation Dots -->
                    <div class="dot-navigation mb-5">
                        <span *ngFor="let product of popularProducts; index as i"
                            [class.active]="i === currentProductIndex" (click)="selectProduct(i)">
                        </span>
                    </div>
                </div>


            </div>
            <div class="col-lg-9 order-lg-2 order-1">
                <div class="product-wrap">
                    <div class="MuiTypography-root MuiTypography-body1 css-9l3uo3" role="tabpanel"
                        id="simple-tabpanel-0" aria-labelledby="simple-tab-0">
                        <div class="MuiBox-root css-0">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                                    *ngFor="let pop_pro of popular_products; let i = index">

                                    <div [ngClass]="{'out-of-stock': pop_pro.stock == 0}">

                                        <div class="product-item">

                                            <!-- Product Image with Overlay if Out of Stock -->
                                            <div class="product-image">
                                                <div class="image-container">
                                                    <img [src]="pop_pro.product_image[0].image" alt=""
                                                        class="fade-image" />
                                                </div>
                                                <ul class="tag-wrap">
                                                    <li class="tag trending">{{ pop_pro.category.name }}</li>
                                                    <li class="tag trending" style="z-index: 9999;    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
" *ngIf="pop_pro.stock == 0">Out of Stock</li>
                                                </ul>

                                                <!-- Overlay and Notify Button when out of stock -->
                                                <div class="out-of-stock-overlay" *ngIf="pop_pro.stock == 0">
                                                    <button class="notify-btn" (click)="notify_us(pop_pro)">Notify
                                                        Me</button>
                                                </div>
                                            </div>

                                            <!-- Product Info Section -->
                                            <div class="product-info">
                                                <h2><a (click)="get_product_detail(pop_pro)">{{
                                                        truncateWords(pop_pro.name, 3) }}</a></h2>

                                                <div class="price">
                                                    <span class="present-price" (click)="redirectToLogin()"
                                                        *ngIf="!user">
                                                        Login to view price
                                                    </span>

                                                    <span class="present-price" *ngIf="this.user">SAR {{ pop_pro.price
                                                        }}</span>
                                                    <del class="old-price" *ngIf="this.user">SAR {{ pop_pro.perv_price
                                                        }}</del>

                                                    <button *ngIf="pop_pro.stock != 0" class="cart-btn"
                                                        (click)="get_product_detail(pop_pro)"
                                                        data-tooltip-id="cart-tooltip"
                                                        data-tooltip-content="add to cart" data-tooltip-place="left">
                                                        <i class="fa-solid fa-angle-right" style="color: #fff;"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="MuiTypography-root MuiTypography-body1 css-9l3uo3" role="tabpanel" hidden=""
                        id="simple-tabpanel-1" aria-labelledby="simple-tab-1"></div>
                    <div class="MuiTypography-root MuiTypography-body1 css-9l3uo3" role="tabpanel" hidden=""
                        id="simple-tabpanel-2" aria-labelledby="simple-tab-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="deal-product-section">
    <div class="container sortable-gallery">
        <div class="deal-product-title">
        
        </div>
        <div class="deal-wrap">
            <div class="deal-active download-section" >
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-12 col-12">
                        <div class="d-flex justify-content-center flex-column h-100">
                            <h1>DOWNLOAD OUR APP</h1>
                            <p class="text-white">Shop effortlessly anytime, anywhere with our app—convenience, security, and exclusive deals await</p>
                            <div class="app-buttons">
                                <img src="../../../assets/images/appstore2.png" alt="App Store">
                                <img src="../../../assets/images/play.png" alt="Google Play">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-12">
                   <img src="../../../assets/images/rb_959.png" style="object-fit: cover;
    height: 100%;">
                        </div>
                </div>
               
            
                <!-- Phone Mockup -->
          
            </div>
        </div>
    </div>
</section>
<div class=" mt-5 mb-5 text-center align-center  heading-title undefined"
    style="text-align: center;margin: auto;display: table;">
    <h2 class="heading-color"> FOLLOW US <a href="https://www.instagram.com/smileagents/"
            target="_blank">@SMILEAGENT</a></h2>
</div>

<div class="animate-marque-sec">


    <div class="animate-marque">
        <div class="marquee">
            <div class="track">
                <div class="content ">
                    <h1>
                        <span class="img_slider_marquee" *ngFor="let media of media_data"><img src="{{media.image}}"
                                alt="Media Images Sliders"></span>
                    </h1>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal-overlay" *ngIf="pop_up">
    <div class="modal-content">
        <button class="modal_close_btn" (click)="pop_up = false"><i class="fa fa-x"></i></button>
        <img (click)="oneventClicka(this.banner_img)" src="{{this.banner_img?.event_image[0]?.image}}" alt="">
    </div>
</div>