
  
  
  
  
  <section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>{{selected_blog?.name}} </h2>
                    <ol>
                        <li><a routerLink="/"><i class="fa-solid fa-caret-right"></i> Home</a></li>
                        <li>{{selected_blog.type == 2 ? "Workshop" : "Event"}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  
  <section class="blog-single-page-area separator-padding" >
    <div class="container">
      <div class="row">
        <div class="col col-lg-9 col-9 undefined">
          <div class="blog-single-wrap">
            <div class="blog-single-text">
              <div class="blog-img" style="height: 500px;object-fit: cover;"><img alt=""
                  srcset="{{this.selected_blog.event_image[0].image}}"
                  src="{{this.selected_blog.event_image[0].image}}"
                  width="1600" height="800" decoding="async" data-nimg="1" loading="lazy" style="color: transparent;">
              </div>
              <ul class="w-100 justify-content-between">
                <li><i class="fa-solid fa-calendar"></i> {{this.selected_blog.date}}</li>
                <li><i class="fa-solid fa-user"></i> Admin</li>
              </ul>
              <p [innerHtml]="selected_blog.description"></p>
            </div>
         
           
          </div>
        </div>
     <div class="col-md-3">
        <div class="blog-grid-page" >
            <section class="blog-section">
              <div class="container">
                <div class="blog-items" style="border-radius: 0px;">
                    <h3>Related {{selected_blog.type == 2 ? "Workshops" : "Event"}}</h3>
                  <div class="row">
                    <div class="col col-xl-12 col-lg-12 col-md-12 col-12" *ngFor="let item of event">
                      <div class="blog-item" style="border-radius: 0px;" (click)="oneventClick(item)" >
                        <div class="blog-img" style="position: relative;" >
                          <img alt="" src="{{ item.event_image[0].image }}" height="190" decoding="async"
                               data-nimg="1" loading="lazy" style="color: transparent;">
                          <!-- Upcoming badge conditionally shown if the item date is in the future -->
                          <span *ngIf="isUpcoming(item.date)" class="badge upcoming-badge">Upcoming</span>
                        </div>
                        <div class="blog-content">
                          
                          <h2><a>{{ item.name }}</a></h2>
                        
                        </div>
                      </div>
                    </div>
                    
          
                  </div>
                </div>
              </div>
            </section>

           
          </div>
     </div>
     <div class="container mb-5">
      <h1 class="text-center">Images</h1>
      <div class="row">
        <div class="col-md-4" *ngFor="let img of selected_blog.event_image">
          <img  class="im"  [src]="img.image" >
        </div>
      </div>
    </div>
    <div class="container mb-5 mt-4">
      <h1 class="text-center">Videos</h1>
      <div class="row">
        <div class="col-md-4" *ngFor="let img of selected_blog.event_videos">
         
          <div class="video-container" >
            <video  controls>
                <source src="https://backend-ecommerce.alitacode.com/public/uploads/videos/{{ img.name }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        
        </div>
      </div>
    </div>
      </div>
    </div>
  </section>